.swiper {
  overflow: visible;
  margin: 3rem 0;
}
.swiper-wrapper {
  max-width: 1250px;
  height: 60vh;
  height: 60svh;
  background-image: var(--second-bg-tr);
}
.swiper__card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.swiper__overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  display: grid;
  place-items: center;
  text-align: center;
}
.swiper__title {
  font-size: var(--font-h2);
}
.swiper__subtitle {
  font-size: var(--font-h4);
}
/* 
* https://res.cloudinary.com/doswy0zdn/image/upload/v1706365971/xmhl5p2ljou7sgvx1trs.png
bt-1024
*/
.text-center {
  margin: 0.5rem auto;
}
.swiper-pagination-bullet {
  background-color: var(--second-bg);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-green);
}
