.contact {
  min-height: 45vh;
  min-height: 45svh;
}

form {
  max-width: 768px;
  display: grid;
  margin: auto;
  padding: 30px;
  font-family: var(--font-sans);
  & label {
    font-size: var(--font-body);
    margin: 20px 0 10px 0;
    display: inline-block;
    color: var(--primary-text);
  }
}
.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
:where(.form__inp, .form__textarea, .form__btn) {
  width: 100%;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  padding: 3px 10px;
  border-radius: 6px;
  font-family: var(--font-sans);
  font-size: 18px;
  border: 1px solid var(--second-bg-tr);
}
.form__inp {
  height: 55px;
}
.form__textarea {
  resize: none;
}
:where(input, textarea, button) {
  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 2px solid var(--second-bg);
  }
}
.page__title {
  font-size: var(--font-h2);
  text-align: center;
  font-weight: 900 !important;
  font-family: var(--font);
  color: var(--primary-green);
  margin-bottom: 20px;
}
.form__btn {
  font-family: var(--font-sans);
  background-color: var(--second-bg);
  height: 55px;
  transition: 200ms all;
  margin-top: 15px;
  &:hover {
    background-color: var(--second-bg-tr);
  }
  &:where(:disabled, :hover) {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--second-bg-tr);
  }
}
.form__error {
  color: var(--second-bg);
  text-decoration: underline wavy #d70c0c;
}

@media all and (width <= 768px){
  .form__row {
    flex-direction: column;
    align-items: stretch;
  }
}