.main {
  padding: calc(1rem + 1vw);
  height: calc(100svh - 100px);
  display: flex;
  place-items: center;
}
.content__subtitle,
.content__title {
  color: var(--primary-text);
  font-size: var(--font-h2);
  line-height: 1;
  margin-bottom: calc(1rem + 1vh);
}
.title__label {
  font-size: var(--font-h1);
  display: inline-block;
  color: var(--primary-green);
  font-family: var(--font);
  font-weight: 700;
  cursor: url("../../assets/cursor-pointer.png"), auto;
  background: linear-gradient(
    90deg,
    var(--primary-green) 15%,
    var(--second-bg) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    background: linear-gradient(
      to right,
      var(--second-bg) 20%,
      var(--primary-green) 40%,
      var(--primary-green) 60%,
      var(--second-bg) 80%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1.5s linear infinite;
  }
}
.subtitle__label {
  font-family: var(--font);
}
.content__title {
  margin: calc(1.5rem + 1vh) 0;
}
.subtitle {
  font-size: var(--font-h5);
  color: var(--primary-text);
  font-family: var(--font-sans);
  margin-bottom: calc(1.5rem + 1vh);
  max-width: calc(30rem + 30vw);
  &:first-child {
    font-size: var(--font-h3);
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 0 20px;
    text-align: center;
  }
  .title__label {
    background: linear-gradient(
      to right,
      var(--second-bg) 20%,
      var(--primary-green) 40%,
      var(--primary-green) 60%,
      var(--second-bg) 80%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1.5s linear infinite;
  }
}
@media only screen and (max-width: 550px) {
  .content__title {
    margin: 1.25rem 0;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
