.hovercards__wrp {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 40rem));
  gap: 1.2rem;
}
.hover__card {
  max-height: 25rem;
  padding: 1rem;
  border-radius: 0.35rem;
  position: relative;
  display: block;
}
.card__content {
  position: relative;
  z-index: 20;
}
.container {
  position: relative;
}
.follower {
  position: absolute;
  width: 35rem;
  height: 35rem;
  display: block;
  background-color: red;
}
