.sidebar__wrp {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  height: calc(100svh - 80px);
  background: var(--primary-bg);
  padding: 80px calc(1rem + 1vw);
  border-top: 1px solid var(--second-bg-tr);
  backdrop-filter: blur(8px) brightness(1) contrast(1) grayscale(0)
    hue-rotate(0) invert(0) opacity(1) saturate(1) sepia(0);
  text-align: center;
}
.sidebar__link {
  display: block;
  font-family: var(--font-sans);
  color: var(--primary-text);
  line-height: 1.5;
  margin: 10px 0;
  font-size: 1.5rem;
}
.menu__btn {
  font-family: var(--font-sans);
  padding: 10px 25px;
  background: var(--second-bg);
  border: 1px solid transparent;
  border-radius: 0.425rem;
  cursor: pointer;
  margin-top: 20px;
  color: var(--primary-text);
}
@media only screen and (min-width: 1024px) {
  .sidebar__wrp {
    display: none;
  }
}
