:root {
  --pr-green: #6bde3b;
  --pr-white: #e9efe6;
  --pr-bg: #1c292f;
  --pr-btn: #1f5e6b;
  --light-bg: #dad3c1;
  --light-text: #1d1b17;
  --light-brown: #918b7d;
  --light-brown-1: #c8c3b3;
  --pr-btn-tr: #1f5e6b61;
  --font-logo: "Rubik Doodle Shadow", system-ui;
  --font-sans: "Varela", sans-serif;
  --font: "Viga", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.page__label {
  font-size: calc(1.4rem + 3vw);
  color: var(--pr-green);
  text-align: center;
  opacity: 0.7;
  color: transparent;
  padding: 0 15px;
  text-transform: uppercase;
  -webkit-text-stroke: var(--pr-green) 1px;
  text-shadow: 6px 6px 0 var(--pr-green), -6px 6px 0 var(--pr-green);
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  outline: var(--pr-green);
  color: inherit;
}
a,
button {
  cursor: url("assets/cursor-pointer.png"), auto;
}
body {
  background-color: var(--pr-bg);
  cursor: url("assets/cursor-default.png"), auto;
}
h1,
h2,
h3 {
  color: var(--pr-white);
  font-family: var(--font-sans);
  font-weight: 400 !important;
}

.header__container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 3px;
  cursor: url("assets/cursor-pointer.png"), auto;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: var(--pr-btn);
}
::selection {
  background-color: transparent;
  color: inherit;
  text-shadow: 0 3px 0px var(--pr-btn) 0 3px 0 var(--pr-btn);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #1ed95c;
  }
  button {
    background-color: #1ed95c80;
  }
}
@media only screen and (max-width: 768px) {
  .code {
    font-size: 1rem;
    margin: 0;
  }
  .page__label {
    text-shadow: 3px 3px 0 var(--pr-green), -3px 3px 0 var(--pr-green);
  }
}
