:root {
  --green: #6bde3b;
  --white: #e9efe6;
  --dark-bg: #1c292f;
  --dark-btn: #1f5e6b;
  --light-bg: #dad3c1;
  --light-text: #1d1b17;
  --light-btn: #918b7d;
  --light-btn-1: #c8c3b3;
  --dark-btn-tr: #1f5e6b61;
  --light-btn-tr: #c8c3b390;
  --font-sans: "Varela", sans-serif;
  --font: "Viga", sans-serif;
  --font-h1: clamp(3.2rem, 0.5692rem + 4.638vw, 13.75rem);
  --font-h2: clamp(1.5rem, 1.0982rem + 1.7143vw, 2.8125rem);
  --font-h3: clamp(1.375rem, 1.1837rem + 0.8163vw, 2rem);
  --font-h4: clamp(1.375rem, 1.1837rem + 0.8163vw, 1.6rem);
  --font-h5: clamp(1rem, 0.9235rem + 0.3265vw, 1.25rem);
  --font-h6: clamp(1rem, 0.9617rem + 0.1633vw, 1.125rem);
  --font-body: clamp(1rem, 0.8852rem + 0.4898vw, 1.375rem);
  --font-link: clamp(0.875rem, 0.875rem + 0.3265vw, 1.125rem);
  --font-mini: clamp(0.875rem, 0.8367rem + 0.1633vw, 1rem);
  --font-h2-display: clamp(1.875rem, 1.41rem + 2.449vw, 3.95rem);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
.dark,
body {
  --primary-text: var(--white);
  --primary-green: var(--green);
  --primary-bg: var(--dark-bg);
  --second-bg: var(--dark-btn);
  --second-bg-tr: var(--dark-btn-tr);
}
.light,
body {
  --primary-text: var(--light-text);
  --primary-green: var(--light-btn);
  --primary-bg: var(--light-bg);
  --second-bg: var(--light-btn-1);
  --second-bg-tr: var(--light-btn-tr);
}
.page__title {
  font-size: var(--font-h2-display);
  color: var(--primary-green);
  text-align: center;
  opacity: 0.7;
  color: transparent;
  padding: 0 15px;
  text-transform: uppercase;
  -webkit-text-stroke: var(--white) 1px;
  text-shadow: 3px 3px 0 var(--green), -3px 3px 0 var(--green);
}
.container {
  max-width: 1550px;
  margin: 0 auto;
}
ul,
li {
  list-style-type: none;
  color: var(--primary-text);
}
a {
  text-decoration: none;
  outline: var(--green);
  color: var(--primary-green);
  font-family: var(--font);
}
svg {
  vertical-align: middle;
}
a,
button {
  cursor: url("assets/cursor-pointer.png"), auto !important;
}
.app {
  background: var(--primary-bg);
}
body {
  background: var(--primary-bg);
  cursor: url("assets/cursor-default.png"), auto !important;
}
h1,
h2,
h3 {
  color: var(--primary-text);
  font-family: var(--font-sans);
  font-weight: 400 !important;
}
.navigate__link {
  color: var(--primary-green);
  font-family: var(--font);
  font-size: var(--font-link);
  margin-top: 20px;
}
.header__container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  border-left: 1px solid var(--second-bg-tr);
  cursor: url("assets/cursor-pointer.png"), auto;
}
::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--second-bg);
}
::selection {
  background: var(--second-bg-tr);
  color: var(--primary-green);
  text-shadow: 0 2px 0px var(--dark-bg), 0 3px 0px var(--dark-bg);
}
