.portfolio {
  padding: 6rem 2rem 3rem 2rem;
  overflow-x: hidden;
}
.page__title {
  font-size: var(--font-h2);
  text-align: center;
  font-weight: 900 !important;
  font-family: var(--font);
  color: var(--primary-green);
}
.section__title {
  font-size: var(--font-h3);
  margin: 1rem 0;
}
